.filter {
    width: fit-content;
    font-size: 12px;
    background-color: rgb(255, 203, 255);
}

.activeFilter {
    width: fit-content;
    font-size: 12px;
    color: #fff;
    background-color: rgb(255, 158, 255);
}