ul {
    display: flex;
    justify-content: space-between;
    padding-inline-start: 15vh;
    padding-inline-end: 15vh;
    list-style: none;
    font-size: 20px;
    background-color: rgb(255, 158, 255);
    border-radius: 3vh;
}
  
li {
    width: 30vh;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 3vh;
}

li:hover {
    border: 1px solid rgb(46, 30, 47);
}

a {
    text-decoration: none;
    color: rgb(46, 30, 47);
}

.activeMenu {
    color: #fff;
    text-shadow: 1px 1px 2px rgb(46, 30, 47);
}
