body {
  margin: 3vh;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(254, 242, 254);
}

div {
  text-align: center;
}

button {
  cursor: pointer;
  padding: 1vh;
  background-color: rgba(255, 158, 255, 0.129);
  border-radius: 1vh;
  border: 0px;
}

h1 {
  font-family: 'Borel', cursive;
  text-align: center;
  vertical-align: middle;
  color: rgb(46, 30, 47);
}



