body {
  margin: 3vh;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(254, 242, 254);
}

a {
  text-decoration: none;
}

a:hover {
  text-shadow: 0px 0px 6px rgb(171, 111, 175);
}

div {
  text-align: center;
}

button {
  cursor: pointer;
  padding: 1vh;
  background-color: rgba(255, 158, 255, 0.129);
  border-radius: 1vh;
  border: 0px;
  letter-spacing: 0.2vh;
}

button:hover {
  box-shadow: 5px 5px 5px 0px rgba(255, 101, 252, 0.162);
}

h1 {
  font-family: 'Borel', cursive;
  text-align: center;
  vertical-align: middle;
  color: rgb(46, 30, 47);
}
                                            /* NAVIGATION COMPONENT STYLES */
.nav-ul {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 15vh;
  padding-inline-end: 15vh;
  list-style: none;
  font-size: 20px;
  background-color: rgb(255, 158, 255);
  border-radius: 3vh;
}

.nav-li {
  width: 30vh;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 3vh;
}

.nav-li:hover {
  border: 1px solid rgb(46, 30, 47);
}

.nav-a {
  color: rgb(46, 30, 47);
}

.activeMenu {
  color: #fff;
  text-shadow: 1px 1px 2px rgb(46, 30, 47);
}

                                            /* CONTENT COMPONENT STYLES */
.content-div {
  justify-content : space-between;
  flex-wrap: wrap;
  margin-top: 4vh;
  position: relative;
}

.filtersSortWishlist {
  display: flex;
  justify-content : space-between;
  align-items: baseline
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

                                            /* FILTERS COMPONENT STYLES */
.filter {
  width: fit-content;
  font-size: 12px;
  background-color: rgb(255, 203, 255);
}

.activeFilter {
  width: fit-content;
  font-size: 12px;
  color: #fff;
  background-color: rgb(255, 158, 255);
}

                                            /* CARD COMPONENT STYLES */
.card-div {
  border: 1px solid rgb(46, 30, 47);
  border-radius: 6vh;
  margin-top: 4vh;
  margin-bottom: 2vh;
  width: 44vh;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
}

.card-h4 {
  margin-bottom: 0;
}

.card-p {
  margin-bottom: 4vh;
}

.card-img {
  height: 40vh;
  width: 40vh;
  object-fit: cover;
  border-radius: 6vh;
  box-shadow: 5px 5px 5px 0px rgba(255, 101, 252, 0.162);
}

.card-button {
  height: 6vh;
  width: 30vh;
  background-color: rgb(255, 158, 255);
  border-radius: 2vh;
  cursor: pointer;
  font-size: 14px;
  font-stretch: ultra-expanded;
  margin-bottom: 2vh;
  box-shadow: 5px 5px 5px 0px rgba(255, 101, 252, 0.349);
}


                                            /* WISHLIST COMPONENT STYLES */
.wishlist-div {
  display: flex;
  border-radius: 6vh;
  border: 1px solid rgb(46, 30, 47);
  box-shadow: 5px 5px 15px 25px rgba(255, 101, 252, 0.349);
  padding: 6vh;
  width: 114vh;
  position: absolute;
  top: 10%;
  left: 20%;
  background-color: rgb(255, 255, 255);
}

.wishlist-h1 {
  font-size: larger;
  margin-top: 0;
  margin-bottom: 0;
}

.headerAndClose {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0;
}

.buttonsWishlist {
  display: flex;
  justify-content: space-between;
}

.wishlistCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 6vh;
}

.cardWishlist-div {
  width: 22vh;
  border-radius: 4vh;
  margin-right: 2vh;
}

.cardWishlist-img {
  width: 18vh;
  height: 18vh;
  border-radius: 2vh;
}

.cardWishlist-h4 {
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.cardWishlist-button {
  width: 16vh;
  height: 4vh;
  border-radius: 1vh;
}