body {
  margin: 3vh;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(254, 242, 254);
}

a {
  text-decoration: none;
}

a:hover {
  text-shadow: 0px 0px 6px rgb(171, 111, 175);
}

div {
  text-align: center;
}

button {
  cursor: pointer;
  padding: 1vh;
  background-color: rgba(255, 158, 255, 0.129);
  border-radius: 1vh;
  border: 0px;
  letter-spacing: 0.2vh;
}

button:hover {
  box-shadow: 5px 5px 5px 0px rgba(255, 101, 252, 0.162);
}

h1 {
  font-family: 'Borel', cursive;
  text-align: center;
  vertical-align: middle;
  color: rgb(46, 30, 47);
}
                                            /* NAVIGATION COMPONENT STYLES */
.nav__ul {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 15vh;
  padding-inline-end: 15vh;
  list-style: none;
  font-size: 20px;
  background-color: rgb(255, 158, 255);
  border-radius: 3vh;
}

.nav__li {
  width: 30vh;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 3vh;
}

.nav__li:hover {
  border: 1px solid rgb(46, 30, 47);
}

.nav__a {
  color: rgb(46, 30, 47);
}

.nav__a--active {
  color: #fff;
  text-shadow: 1px 1px 2px rgb(46, 30, 47);
}

                                            /* CONTENT COMPONENT STYLES */
.content__wrapper {
  justify-content : space-between;
  flex-wrap: wrap;
  margin-top: 4vh;
  position: relative;
}

.content__filtersSortWishlist {
  display: flex;
  justify-content : space-between;
  align-items: baseline
}

.content__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

                                            /* FILTERS COMPONENT STYLES */
.filters__button {
  width: fit-content;
  font-size: 12px;
  background-color: rgb(255, 203, 255);
}

.filters__button--active {
  width: fit-content;
  font-size: 12px;
  color: #fff;
  background-color: rgb(255, 158, 255);
}

                                            /* CARD COMPONENT STYLES */
.card__wrapper {
  border: 1px solid rgb(46, 30, 47);
  border-radius: 6vh;
  margin-top: 4vh;
  margin-bottom: 2vh;
  width: 44vh;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  position: relative;
}

.card__img--new {
  position: absolute;
  right: 0.2vh;
  top: 0.2vh;
}

.card__img {
  height: 40vh;
  width: 40vh;
  object-fit: cover;
  border-radius: 6vh;
  box-shadow: 5px 5px 5px 0px rgba(255, 101, 252, 0.162);
}

.card__h4 {
  margin-bottom: 0;
}

.card__p {
  margin-bottom: 4vh;
}

.card__button {
  height: 6vh;
  width: 30vh;
  background-color: rgb(255, 158, 255);
  border-radius: 2vh;
  cursor: pointer;
  font-size: 14px;
  font-stretch: ultra-expanded;
  margin-bottom: 2vh;
  box-shadow: 5px 5px 5px 0px rgba(255, 101, 252, 0.349);
}


                                            /* WISHLIST COMPONENT STYLES */
.wishlist__wrapper {
  display: flex;
  border-radius: 6vh;
  border: 1px solid rgb(46, 30, 47);
  box-shadow: 5px 5px 15px 25px rgba(255, 101, 252, 0.349);
  padding: 6vh;
  width: 114vh;
  position: absolute;
  top: 10%;
  left: 20%;
  background-color: rgb(255, 255, 255);
}

.wishlist__h1 {
  font-size: larger;
  margin-top: 0;
  margin-bottom: 0;
}

.wishlist__headerAndClose {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0;
}

.wishlist__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 6vh;
}

.wishlist__buttons {
  display: flex;
  justify-content: space-between;
}

.card__wrapper--wishlist {
  width: 22vh;
  border-radius: 4vh;
  margin-right: 2vh;
}

.card__img--wishlist {
  width: 18vh;
  height: 18vh;
  border-radius: 2vh;
}

.card__h4--wishlist {
  margin-bottom: 2vh;
  margin-top: 1vh;
}

.card__p--wishlist {
  font-size: smaller;
  margin-bottom: 2vh;
}

.card__button--wishlist {
  width: 16vh;
  height: 4vh;
  border-radius: 1vh;
}


                                            /* PAGINATION COMPONENT STYLES */
.pagination__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__li {
  border: 1px solid rgb(255, 158, 255);
  border-radius: 2vh;
  width: 6vh;
  height: 6vh;
  line-height: 6vh;
  text-align: center;
  margin: 0 0.25rem;
  cursor: pointer;
}

.pagination__li--active {
  background-color: #ff9eff;
  color: #fff;
}

.pagination__wrapper--none {
  list-style: none;
  padding-inline-start: 0;
}